@model PiesListViewModel

<h1>@ViewBag.CurrentCategor - tralalay</h1>
@foreach (var pie in Model.Pies)
{
    var imagePath = pie.ImageThumbnailUrl;

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
        <img src=@imagePath alt="">
        <div class="caption">
                <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                <h3>
                    <a>@pie.Name</a>
                </h3>
                <p>@pie.ShortDescription</p>
            </div>
        </div>
    </div>
}

